 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 min-height: 100vh;
font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
  
}

.menu-esquerdo {
    flex: 0 0 250px;
    padding: 20px;
    text-align: center;
}

.menu-esquerdo img {
    width: 215px;
    height: 188px;
    margin-bottom: 10px;
}

.menu-esquerdo h3 {
    margin-bottom: 10px;
}

.menu-esquerdo p {
    margin-bottom: 20px;
}

.menu-esquerdo ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.menu-esquerdo li {
    margin-bottom: 10px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    margin: auto;
  
}

.conteudo-principal h2 {
    margin-bottom: 20px;
    text-align: center;
}

.conteudo-principal h4 {
    margin-bottom: 20px;
    text-align: center;
}
.tabela-wrapper {
    flex: 1;
    background-color: white;
    padding: 20px;
}

.tabelas {
    display: flex;
    gap: 20px;
}

.tabelas table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid #ccc;
}

.adicionar-tarefa {
    margin-top: 20px;
}

.adicionar-tarefa input[type="text"],
.adicionar-tarefa button {
    margin-top: 10px;
}

.button-3d {
    background-color: #FFF176;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.button-3d:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.input-3d {
    padding: 10px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.input-3d:focus {
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.tabela-3d {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.tabela-3d th,
.tabela-3d td {
    padding: 8px;
    border: 1px solid #ccc;
}

.tabela-3d th {
    background-color: #f2f2f2;
    text-align: left;
}

.tabela-3d tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela-3d tr:hover {
    background-color: #eaeaea;
}

.link-3d {
    display: inline-block;
    padding: 8px 16px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  
  .link-3d:hover {
    background-color: #f9f9f9;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  }
